/* CSS Document */

<!--
.navy      {font-family: Arial; font-size: 11px; color: #003399; font-weight: bold;}
.nobold    {font-family: Arial; font-size: 11px; color: #003399; font-weight: normal; background-color: #FDFFD7;}
.title     {font-family: Arial; font-size: 14px; color: #E65B00; font-weight: bold; background-color: #EDFDFE;}
.text      {font-family: Arial; font-size: 11px; color: #003399; border: 1px solid #003399; text-transform: uppercase}

-->
