/* Reset css :  Con este código eliminamos márgenes, 
padding y otras propiedades que los navegadores 
añaden automáticamente */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab+Highlight');

*{
    box-sizing: border-box;
}

body{
	 font-family: 'Quicksand', sans-serif;
	 background: #fff;
	 font-size: 1.2em;
	 color: #333;
}

#wrapper{
	padding: 10px 6%;
}

#wrapper span{
	border: 1px solid #000;
	position: relative;
}

h1{
	margin-top: 60px;
	margin-bottom: 20px;
	font-weight: bold;
	color: #211C1C
}


/* Clases para los contenedores de Radio y Checkbox*/
.content-input{
	margin-bottom: 15px;
	cursor: pointer;
}

.content-input{
	position: relative;
	margin-bottom: 10px;
	padding:5px 0 5px 60px;
	display: block;
}

/* 
La propiedadd appearance da un aspecto standard a un elemento.
Por ejemplo: appearance: button
Como vamos a personalizar nuestros elemento añadimos el valor none
 */
.content-input input,
.content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}


.content-input i,
.content-input i:before{
	transition: all 0.25s ease;
}

/* 
Ocultamos nuestros inputs.
Con opacity 0. Si utilizamos visibility:hidden o display:none;
no funcionarían
*/
.content-input input{
	opacity: 0;
	position: absolute;
	right: 0;
}

/*
Propiedades para cualquier el elmento i después de un input
dentro de la capa .content-input
*/
.content-input input + i{
	background: #f0f0f0;
	border:2px solid rgba(0,0,0,0.3);
	position: absolute;
	left: 0;
	top: 0;
}

/*
Propiedades para el checkbox
*/
.content-input input[type=checkbox ] + i{
	width: 52px;
	height: 30px;
	border-radius: 150px;
}

/*
Propiedades para radio
*/
.content-input input[type=radio] + i{
	height: 30px;
	width: 30px;
	border-radius: 100%;
	left: 15px;
}


/*
Creamos el círculo que aparece encima de los checkbox
con la etqieta before. Importante aunque no haya contenido
debemos poner definir este valor.
*/
.content-input input[type=checkbox] + i:before{
	content: ''; /* No hay contenido */
	width: 26px;
	height: 26px;
	background: #fff;
	border-radius: 50%;
	position: absolute;
	z-index: 1;
	left: 0px;
	top: 0px;
	-webkit-box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
	box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
}


.content-input input[type=checkbox] + i:after{
	content: 'SI';
	position: absolute;
	font-size: 15px;
	color: rgba(255,255,255,0.6);
	top: 5px;
	left: 5px;
	opacity: 0;
	transition: all 0.25s ease 0.25s;
}

/*
Creamos el cículo que se mostrará cuando hagamos click 
en cualquier radio y lo ocultamos con opacity 0
*/
.content-input input[type=radio] + i:before{
	content: '';
	display: block;
	height: 18px;
	width: 18px;
	background: red;
	border-radius: 100%;
	position: absolute;
	z-index: 1;
	top: 4px;
	left: 4px;
	background:#2AC176;
	transition: all 0.25s ease;
	transform: scale(0);
	opacity: 0; /* Lo ocultamos*/
}



.content-input:hover i{
	background: #B1E8CD;
}


/*
Con :checked definimos los valores css cuando un input
como radio o checkbox está checheado
*/
.content-input input[type=checkbox]:checked + i{
	background: #2AC176;
}

.content-input input[type=checkbox]:checked + i:before{
	left: 22px;
	-webkit-box-shadow: -3px 0 3px 0 rgba(0,0,0,0.2);
	box-shadow: 3px 0 -3px 0 rgba(0,0,0,0.2);
}

.content-input input[type=checkbox]:checked + i:after{
	opacity: 1;
}

.content-input input[type=radio]:checked + i:before{
	transform: scale(1);
	opacity: 1;
}

/* Select */
.content-select{
	max-width: 250px;
	position: relative;
}

.content-select select{
	display: inline-block;
	width: 100%;
	cursor: pointer;
  	padding: 7px 10px;
  	height: 42px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	background: #f0f0f0;
	color: #7b7b7b;
	font-size: 1em;
	color: #999;
	font-family: 
	'Quicksand', sans-serif;
	border:2px solid rgba(0,0,0,0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
}

.content-select select:hover{
	background: #B1E8CD;
}

/* 
Creamos la fecha que aparece a la izquierda del select.
Realmente este elemento es un cuadrado que sólo tienen
dos bordes con color y que giramos con transform: rotate(-45deg);
*/
.content-select i{
	position: absolute;
	right: 20px;
	top: calc(50% - 13px);
	width: 16px;
	height: 16px;
	display: block;
	border-left:4px solid #2AC176;
	border-bottom:4px solid #2AC176;
	transform: rotate(-45deg); /* Giramos el cuadrado */
	transition: all 0.25s ease;
}

.content-select:hover i{
	margin-top: 3px;
}

/* Eliminamos la fecha que por defecto aparece en el desplegable */
.content-select select::-ms-expand {
    display: none;
}


